Bill's Jupyter Notebook for Project One

In [4]:
# Libraries

import pandas as pd

In [5]:
# Load sample DataFrame

path = 'Resources/members.csv'

members_df = pd.read_csv(path)

members_df

       First      Last   Nickname
0    William   Johnson       Bill
1     Andrew     Stull       Drew
2    Tamekia  Phillips    Tamekia
3  Venkatesh     Hegde  Venkatesh
4      Henry     White      Henry
5    Michael    Hughes       Mike
6       Adam  Armagost       Adam
7       Ryan    Finley        Fin