Data Science Project 1 for Team 1

In [12]:
# Load libraries

import pandas as pd
import requests
from pprint import pprint

# Import API key
from api_keys import weather_api_key

In [13]:
# Load DataFrame

mbrs_url = './Resources/members.csv'
members_df = pd.read_csv(mbrs_url)

members_df

       First      Last   Nickname
0    William   Johnson       Bill
1     Andrew     Stull       Drew
2    Tamekia  Phillips    Tamekia
3  Venkatesh     Hegde  Vankatesh
4      Henry     White      Henry
5    Michael    Hughes       Mike
6       Adam  Armagost       Adam
7       Ryan    Finley        Fin

In [18]:
# Get current weather for Kennesaw, GA

city = 'kennesaw'

wx_url = f'http://api.openweathermap.org/data/2.5/weather?q={city}&appid={weather_api_key}&units=imperial'
response = requests.get(wx_url).json()

pprint(response)

current_wx_df = pd.DataFrame([response['main']])

current_wx_df

{'base': 'stations',
 'clouds': {'all': 1},
 'cod': 200,
 'coord': {'lat': 34.0234, 'lon': -84.6155},
 'dt': 1634757801,
 'id': 4203696,
 'main': {'feels_like': 74.03,
          'humidity': 55,
          'pressure': 1024,
          'temp': 74.32,
          'temp_max': 78.44,
          'temp_min': 71.02},
 'name': 'Kennesaw',
 'sys': {'country': 'US',
         'id': 47719,
         'sunrise': 1634730460,
         'sunset': 1634770704,
         'type': 2},
 'timezone': -14400,
 'visibility': 10000,
 'weather': [{'description': 'clear sky',
              'icon': '01d',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 0, 'speed': 0}}

    temp  feels_like  temp_min  temp_max  pressure  humidity
0  74.32       74.03     71.02     78.44      1024        55