Venkatesh's Jupyter Notebook for Project One

In [55]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint


csv_path = "US_youtube_trending_data.csv"

# Import the books.csv file as a DataFrame
US_data_df = pd.read_csv("US_youtube_trending_data.csv", encoding="utf-8")
US_data_df.head()
GB_data_df = pd.read_csv("GB_youtube_trending_data.csv", encoding="utf-8")
GB_data_df.head()
IN_data_df = pd.read_csv("IN_youtube_trending_data.csv", encoding="utf-8")
IN_data_df.head()
CA_data_df = pd.read_csv("CA_youtube_trending_data.csv", encoding="utf-8")
CA_data_df.head()


#youtube_cat_df = pd.read_csv("YouTubeCategories.csv", encoding="utf-8")
#US_data_df.dtypes

#US_data_df.value_counts()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,KX06ksuS6Xo,Diljit Dosanjh: CLASH (Official) Music Video |...,2020-08-11T07:30:02Z,UCZRdNleCgW-BGUJf-bbjzQg,Diljit Dosanjh,10,2020-08-12T00:00:00Z,clash diljit dosanjh|diljit dosanjh|diljit dos...,9140911,296541,6180,30059,https://i.ytimg.com/vi/KX06ksuS6Xo/default.jpg,False,False,CLASH official music video performed by DILJIT...
1,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853,353797,2628,40222,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,I left youtube for a month and this is what ha...
2,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,Apex Legends|Apex Legends characters|new Apex ...,2381688,146740,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"While running her own modding shop, Ramya Pare..."
3,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614,156914,5857,35331,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,SUBSCRIBE to BRAWADIS ▶ http://bit.ly/Subscrib...
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,The LaBrant Family|DIY|Interior Design|Makeove...,1123889,45803,964,2198,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,Transforming The LaBrant Family's empty white ...

In [71]:
import json
from pprint import pprint
US_category_file=open("US_category_id.json")
US_data = json.load(US_category_file)
#pprint(data)
#pprint(data["items"][0])
#print()
categoryId=[]
categoryName=[]

for i in range (len(data["items"])):
#        pprint(data["items"][i])
        categoryId.append(US_data["items"][i]["id"])
        categoryName.append(US_data["items"][i]["snippet"]["title"])
print(categoryId)
print(categoryName)
US_youtube_cat_df = pd.DataFrame({"CategoryId":categoryId,"categoryName":categoryName})
US_youtube_cat_df["categoryId"]=US_youtube_cat_df["CategoryId"].astype("int64")
US_youtube_cat_df=US_youtube_cat_df[["categoryId","categoryName"]]
US_youtube_cat_df

['1', '2', '10', '15', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44']
['Film & Animation', 'Autos & Vehicles', 'Music', 'Pets & Animals', 'Sports', 'Short Movies', 'Travel & Events', 'Gaming', 'Videoblogging', 'People & Blogs', 'Comedy', 'Entertainment', 'News & Politics', 'Howto & Style', 'Education', 'Science & Technology', 'Nonprofits & Activism', 'Movies', 'Anime/Animation', 'Action/Adventure', 'Classics', 'Comedy', 'Documentary', 'Drama', 'Family', 'Foreign', 'Horror', 'Sci-Fi/Fantasy', 'Thriller', 'Shorts', 'Shows', 'Trailers']

    categoryId           categoryName
0            1       Film & Animation
1            2       Autos & Vehicles
2           10                  Music
3           15         Pets & Animals
4           17                 Sports
5           18           Short Movies
6           19        Travel & Events
7           20                 Gaming
8           21          Videoblogging
9           22         People & Blogs
10          23                 Comedy
11          24          Entertainment
12          25        News & Politics
13          26          Howto & Style
14          27              Education
15          28   Science & Technology
16          29  Nonprofits & Activism
17          30                 Movies
18          31        Anime/Animation
19          32       Action/Adventure
20          33               Classics
21          34                 Comedy
22          35            Documentary
23          36                  Drama
24          37                 Family
25          38                Foreign
26          39                 Horror
27          40         Sci-Fi/Fantasy
28          41               Thriller
29          42                 Shorts
30          43                  Shows
31          44               Trailers

In [60]:
US_youtube_cat_df.dtypes
US_data_df.dtypes

video_id             object
title                object
publishedAt          object
channelId            object
channelTitle         object
categoryId            int64
trending_date        object
tags                 object
view_count            int64
likes                 int64
dislikes              int64
comment_count         int64
thumbnail_link       object
comments_disabled      bool
ratings_disabled       bool
description          object
dtype: object

In [72]:
US_youtube_cat_df2 = US_youtube_cat_df.set_index("categoryId")
US_youtube_cat_df2

                     categoryName
categoryId
1                Film & Animation
2                Autos & Vehicles
10                          Music
15                 Pets & Animals
17                         Sports
18                   Short Movies
19                Travel & Events
20                         Gaming
21                  Videoblogging
22                 People & Blogs
23                         Comedy
24                  Entertainment
25                News & Politics
26                  Howto & Style
27                      Education
28           Science & Technology
29          Nonprofits & Activism
30                         Movies
31                Anime/Animation
32               Action/Adventure
33                       Classics
34                         Comedy
35                    Documentary
36                          Drama
37                         Family
38                        Foreign
39                         Horror
40                 Sci-Fi/Fantasy
41                       Thriller
42                         Shorts
43                          Shows
44                       Trailers

In [73]:
US_Merged_data_df= US_data_df.merge(US_youtube_cat_df2, how="outer",on="categoryId")
US_Merged_data_df.head()
#US_Merged_data_df.dtypes
US_Merged_data_df["categoryName"].value_counts()

Entertainment            17753
Music                    16648
Gaming                   14687
Sports                    9662
People & Blogs            7587
Comedy                    4785
Film & Animation          3394
News & Politics           3320
Science & Technology      3226
Howto & Style             2942
Education                 1899
Autos & Vehicles          1569
Pets & Animals             476
Travel & Events            359
Nonprofits & Activism       85
Shorts                       1
Documentary                  1
Horror                       1
Foreign                      1
Anime/Animation              1
Thriller                     1
Movies                       1
Short Movies                 1
Shows                        1
Drama                        1
Action/Adventure             1
Trailers                     1
Classics                     1
Sci-Fi/Fantasy               1
Family                       1
Videoblogging                1
Name: categoryName, dtype: int64

In [76]:
CA_Merged_data_df= CA_data_df.merge(US_youtube_cat_df2, how="outer",on="categoryId")
CA_Merged_data_df.head()
#US_Merged_data_df.dtypes
CA_Merged_data_df["categoryName"].value_counts()

IN_Merged_data_df= CA_data_df.merge(US_youtube_cat_df2, how="outer",on="categoryId")
IN_Merged_data_df.head()
#US_Merged_data_df.dtypes
IN_Merged_data_df["categoryName"].value_counts()

GB_Merged_data_df= GB_data_df.merge(US_youtube_cat_df2, how="outer",on="categoryId")
GB_Merged_data_df.head()
#US_Merged_data_df.dtypes
GB_Merged_data_df["categoryName"].value_counts()

Entertainment            20154
Sports                   16460
Gaming                   12553
Music                    11853
People & Blogs            8102
Comedy                    4411
Science & Technology      3234
News & Politics           2625
Howto & Style             2311
Film & Animation          2240
Education                 1820
Autos & Vehicles          1661
Travel & Events            458
Pets & Animals             443
Nonprofits & Activism       71
Shorts                       1
Documentary                  1
Horror                       1
Foreign                      1
Anime/Animation              1
Thriller                     1
Movies                       1
Short Movies                 1
Shows                        1
Drama                        1
Action/Adventure             1
Trailers                     1
Classics                     1
Sci-Fi/Fantasy               1
Family                       1
Videoblogging                1
Name: categoryName, dtype: int64

In [22]:
#youtube_cat_df.drop_index()
#youtube_cat_df.set_index("CategoryID")
#youtube_cat_df.reset_index()
#youtube_cat_df.groupby(["CategoryID"])
#youtube_cat_df["CatID"]=youtube_cat_df["CategoryID"].astype("object")
#youtube_cat_df.dtypes

    CategoryID           CategoryName CatID
0          2.0       Autos & Vehicles   2.0
1          1.0       Film & Animation   1.0
2         10.0                  Music  10.0
3         15.0         Pets & Animals  15.0
4         17.0                 Sports  17.0
5         18.0           Short Movies  18.0
6         19.0        Travel & Events  19.0
7         20.0                 Gaming  20.0
8         21.0          Videoblogging  21.0
9         22.0         People & Blogs  22.0
10        23.0                 Comedy  23.0
11        24.0          Entertainment  24.0
12        25.0        News & Politics  25.0
13        26.0          Howto & Style  26.0
14        27.0              Education  27.0
15        28.0   Science & Technology  28.0
16        29.0  Nonprofits & Activism  29.0
17        30.0                 Movies  30.0
18        31.0        Anime/Animation  31.0
19        32.0       Action/Adventure  32.0
20        33.0               Classics  33.0
21        34.0                 Comedy  34.0
22        35.0            Documentary  35.0
23        36.0                  Drama  36.0
24        37.0                 Family  37.0
25        38.0                Foreign  38.0
26        39.0                 Horror  39.0
27        40.0          SciFi/Fantasy  40.0
28        41.0               Thriller  41.0
29        42.0                 Shorts  42.0
30        43.0                  Shows  43.0
31        44.0               Trailers  44.0
32         NaN                    NaN   NaN
33         NaN                    NaN   NaN

In [53]:
US_data_df.dtypes

video_id             object
title                object
publishedAt          object
channelId            object
channelTitle         object
categoryId            int64
trending_date        object
tags                 object
view_count            int64
likes                 int64
dislikes              int64
comment_count         int64
thumbnail_link       object
comments_disabled      bool
ratings_disabled       bool
description          object
dtype: object

In [74]:
US_Merged_data_df.to_csv("US_Merged_data.csv")

In [78]:
CA_Merged_data_df.to_csv("CA_Merged_data.csv")
GB_Merged_data_df.to_csv("GB_Merged_data.csv")
IN_Merged_data_df.to_csv("IN_Merged_data.csv")